.btn-help{
    padding: 0px 10px;
    background: #cbe9ff;
    border-radius: 13px;
    margin: 5px;
    border: 1px solid #3ea0e6;
}

.ftbtnColor{
    background-color: #6fd3bf;
    border-radius: 13px;
    margin: 5px auto;
    border: 1px solid #6fd3bf;
    width: 90%;
    font-size: 0.9rem;
    text-transform: capitalize;
}
.ftbtngrayColor{
    background-color: #2d9f88;
    border-radius: 13px;
    margin: 5px auto;
    border: 1px solid #2d9f88;
    width: 95%;
    color: #ffffff;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.footerbar {
    background: #37c3a7;
}