<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin: 10px 5px;">
      <ion-back-button defaultHref="/login" text="" style="color: #707070;" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <h2 class="page-title">Forgot your password?</h2>
  </div>
  <div class="form-container">
    <form >
      <p *ngIf="dlyuser == 0">
        <ion-label class="login-lable" position="stacked">Account</ion-label>
        <ion-input type="text" name="username" class="input-style" [(ngModel)]="postData.username"></ion-input>
      </p>
      <p *ngIf="dlyuser == 0">
        <ion-label class="login-lable"  position="stacked">Company</ion-label>
        <ion-input type="text" autocomplete="off" name="company" class="input-style" [(ngModel)]="postData.company"></ion-input>
      </p>

      <p *ngIf="dlyuser == 1">
        <ion-label class="login-lable"  position="stacked">OTP Code</ion-label>
        <ion-input type="text" autocomplete="off" name="company" style="width: 100% !important; border-bottom: 1px solid #707070;" [(ngModel)]="postData.reset"></ion-input>
      </p>

      <p *ngIf="dlyuser == 2">
        <ion-label class="login-lable"  position="stacked">New Password</ion-label>
        <ion-input type="password" autocomplete="off" name="newPsw" style="width: 100% !important; border-bottom: 1px solid #707070;" [(ngModel)]="postData.newPsw"></ion-input>
      </p>
      <p *ngIf="dlyuser == 2">
        <ion-label class="login-lable"  position="stacked">Confirm Password</ion-label>
        <ion-input type="password" autocomplete="off" name="confirmPsw" style="width: 100% !important; border-bottom: 1px solid #707070;" [(ngModel)]="postData.confirmPsw"></ion-input>
      </p>
     
      <ion-button *ngIf="dlyuser == 0" expand="block" class="btn-style" color="primary"  (click)="forgotPasswordAction()" >Send</ion-button>

      <ion-button *ngIf="dlyuser == 1" expand="block" class="btn-style" color="primary"  (click)="recoverpassAction()" >Send</ion-button>

      <ion-button *ngIf="dlyuser == 2" expand="block" class="btn-style" color="primary"  (click)="changepassAction()" >Send</ion-button>
    </form>
  </div>
</ion-content>
