.btn-help{
    padding: 0px 10px;
    background: #cbe9ff;
    border-radius: 13px;
    margin: 5px;
    border: 1px solid #3ea0e6;
}

.bluegreen{
    background-color: #cbe9ff;
    border: 1px solid #77b3df;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.graylight{
    background-color: #f8f9fb;
    border: 0px solid #c6c6c7;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.whitebg{
    background-color: #ffffff;
    border: 1px solid #dddddd;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}

.remainer{
    background-color: #ffe8a3;
    border: 1px solid #d6d6d6;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
}
.warning{
    background-color: #f80a0a;
    overflow: auto;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    color: #ffffff;
}