<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" style="margin-right: 5px;">
      <ion-back-button defaultHref="/home/feed" text="" style="color: #707070;" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" class="btn-help">
      <span style="color: #3ea0e6;">Help</span> 
      <ion-icon name="help-circle-outline" style="width: 23px; height: 23px; color: #3ea0e6;"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Angular 10 Forms Example</h1>
  <form [formGroup]="skillsForm" (ngSubmit)="onSubmit()">
 
    <p>
      <label for="name">Name </label>
      <input type="text" id="name" name="name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
    </p>

    <div formArrayName="skills">
      <div *ngFor="let skill of skills.controls; let i=index">
        <div [formGroupName]="i">
          {{i}}
          skill name :
          <input type="text"  formControlName="skill" ><br>
          <!-- <input type="text"  formControlName="skill" [(ngModel)]="namedly"><br> -->
          exp:
          <input type="text" formControlName="exp">
          
          <button  (click)="removeSkill(i)">Remove</button>
        </div>
      </div>
      <p>
        <button (click)="addSkills()">Add</button>
      </p>
    </div>

    <div formArrayName="tranexp">
      <label *ngIf="tranexp.errors?.required">
        Add Employees.
      </label>
      <div *ngFor="let tran of tranexp.controls; let i=index">
        <div [formGroupName]="i">
          IS Invalid - {{ getValidity(i) }} 
          <br>
          {{i}}
          tranexp name :
          <input type="text"  formControlName="skill" [ngClass]="{'has-error': tran.controls.skill.invalid}" ><br>
          <label *ngIf="getValidity(i) == true || tran.controls.skill.invalid" >Must be fill</label><br>
          <!-- <input type="text"  formControlName="skill" [(ngModel)]="namedly"><br> -->
          exp:
          <input type="text" formControlName="exp" [ngClass]="{'has-error': tran.controls.exp.invalid}">
          <label *ngIf="getValidity(i) == true || tran.controls.exp.invalid" >Must be fill</label><br>
          <button  (click)="removeTexpense(i)">Remove</button>
        </div>
      </div>
      <p>
        <button (click)="addTexpense()">Add</button>
      </p>
    </div>
   
      <p>
        <button type="submit">Submit</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
      </p>
  </form>
</ion-content>
