<div style="margin: 15px;">
  <h1 style="color: #37c3a7; font-weight: 700;" [innerHtml]="userGuide?.faq"></h1>
  
  <div class="graylight">
    <h2 [innerHtml]="userGuide?.customer_information_not_exist"></h2>
    <h3 [innerHtml]="userGuide?.customer_information_not_exist_answer_header_mobile"></h3>
    <div class="datastyle" [innerHtml]="userGuide?.customer_information_not_exist_answer_text_mobile"></div>
  </div>

  <div class="whitebg">
    <h2 [innerHtml]="userGuide?.inputtime_of_workingoutside"></h2>
    <h3 [innerHtml]="userGuide?.inputtime_of_workingoutside_answer_header_mobile"></h3>
    <div class="datastyle" [innerHtml]="userGuide?.inputtime_of_workingoutside_answer_text_mobile"></div>
  </div>

  <div class="graylight">
    <h2 [innerHtml]="userGuide?.inputtime_of_workspansmonth"></h2>
    <h3 [innerHtml]="userGuide?.inputtime_of_workspansmonth_answer_header_mobile"></h3>
    <div class="datastyle" [innerHtml]="userGuide?.inputtime_of_workspansmonth_answer_text_mobile"></div>
  </div>

  <div class="whitebg">
    <h2 [innerHtml]="userGuide?.unable_uploading_workreport_pdf_answer_header_mobile"></h2>
    <div class="datastyle" [innerHtml]="userGuide?.unable_uploading_workreport_pdf_answer_text_mobile"></div>
  </div>

  <div class="graylight">
    <h2 [innerHtml]="userGuide?.midnightbreak_at_nightshift"></h2>
    <h3 [innerHtml]="userGuide?.midnightbreak_at_nightshift_answer_header_mobile"></h3>
    <div class="datastyle" [innerHtml]="userGuide?.midnightbreak_at_nightshift_answer_text_mobile"></div>
  </div>
</div>
